# Node / Next
echo-site/.next
echo-site/node_modules
node_modules
.next
.turbo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# GH Pages build temp
.gh-pages-api-backup
.gh-pages-images-backup

# Editor
.cursor
.vscode
.idea

