# Node / Next
ray-site/.next
ray-site/node_modules
ray-site/.turbo
node_modules

# Logs
*.log
ray-site/npm-debug.log*
ray-site/yarn-debug.log*
ray-site/yarn-error.log*

# Editor
.cursor
.vscode
.idea

